fastapi==0.115.0
uvicorn==0.30.6
pydantic==2.9.2
pydantic-settings==2.10.1
python-dotenv==1.0.1
oracledb==2.4.1

# JWT token encode/decode
python-jose[cryptography]
# password hashing
bcrypt
SQLAlchemy>=2.0

langchain==1.0.3
langgraph==1.0.3
langchain_openai==1.0.3

langchain-chroma==1.0.0
langchain-community==0.4.1

langsmith==0.3.45

google-auth==2.23.4
google-auth-oauthlib==1.1.0
google-auth-httplib2==0.1.1
google-api-python-client==2.100.0

# Google Gemini API (Veo 3.1용)
google-genai==1.51.0
google-ai-generativelanguage==0.9.0
google-api-core==2.28.1
google-auth==2.43.0
googleapis-common-protos==1.72.0
grpcio==1.76.0
grpcio-status==1.76.0
proto-plus==1.26.1
protobuf==6.33.1
Pillow>=10.4.0